﻿<html>
<head>
    <title></title>
</head>
<body>

    @{
        var firstname = Model.FirstName;
        var lastname = Model.LastName;
        var clientlink = Model.ClientLink;
        var client = Model.ClientInformation;
        var today = Model.Today;

    }
    <p>Hello @firstname @lastname,</p>
    <p>
        In order to continue to provide the best security for your account and our users, we
        have updated our password security policies and are requiring all users to change their password.
        We appreciate your cooperation during this policy update.
    </p>
    <p>
        All passwords are required to be a minimum of 7 characters in length with at least 1 number and may include alphanumeric and special characters.
    </p>
    <strong>Examples of acceptable passwords: permit1, p3rmit$, P3rm1ts</strong><br />
    <p>
        Next week, we'll begin enforcing the new security policy and you will be required to update your password at this time. Please make sure to 
        login at https://montgomerycounty.digitalpermits.com on or after November 20th to update your password so you can manage your digital permit account.
    </p>
    <p>
        <br />
        <strong>How this impacts you:</strong><br />
    </p>
    During your normal login you will be directed to a page to allow you to update your password<br />
    You will be prompted to enter your existing password and a new password<br />
    You will see a successful message and from there can continue to your account<br />
    <div>
        <div>
            <p>Regards,</p><br />
            <address>
                <b>The Digital Permit Team</b><br /><br />

                @if (!String.IsNullOrEmpty(client.CallCenterHours))
            {
                    <b>Call Center Hours:</b><br />
                    @client.CallCenterHours
                    <p>Phone: 855-510-3995</p>
                }
            </address>
        </div>
        <hr />
        <br /><br />
</body>
</html>